// =============================================================================
// String Replace
// =============================================================================
@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

// =============================================================================
// Font Face
// =============================================================================
@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;
    $extmods: (
        eot: '?',
        svg: '#' + str-replace($name, ' ', '_')
    );
    $formats: (
        otf: 'opentype',
        ttf: 'truetype',
        woff: 'woff',
        woff2: 'woff2'
    );

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        // lowercase name with style appended using '-'
        $font-name: $path + to-lower-case($name) + '-' + $style + '.' + $extmod;
        $src: append($src, url(quote($font-name)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

// Usage
@include font-face(
    Hack,
    'https://raw.githubusercontent.com/GooberFromHell/CyberTerminal/main/font/hack/',
    400,
    regular,
    woff woff2
);
@include font-face(
    Hack,
    'https://raw.githubusercontent.com/GooberFromHell/CyberTerminal/main/font/hack/',
    700,
    regular,
    woff woff2
);
@include font-face(
    Hack,
    'https://raw.githubusercontent.com/GooberFromHell/CyberTerminal/main/font/hack/',
    400,
    italic,
    woff woff2
);
@include font-face(
    Hack,
    'https://raw.githubusercontent.com/GooberFromHell/CyberTerminal/main/font/hack/',
    700,
    italic,
    woff woff2
);
@include font-face(
    FontAwesome,
    'https://raw.githubusercontent.com/GooberFromHell/CyberTerminal/main/font/font-awesome/',
    webfont,
    webfont,
    eot woff2 woff ttf
);
